$neutral_white: hsl(0, 0%, 100%);
$neutral_light_gray: hsl(270, 3%, 87%);
$neutral_dark_gray: hsl(279, 6%, 55%);
$neutral_very_dark_violet: hsl(278, 68%, 11%);
$color1gradient: hsl(249, 99%, 64%);
$color2gradient: hsl(278, 94%, 30%);
$primary_linear_gradient: linear-gradient($color1gradient, $color2gradient);
$primary_red_input_errors: hsl(0, 100%, 66%);

$body_font_size: 18px;